    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sobre</h2>
                <p>Olá! Seja bem-vindo(a) ao meu portfólio. Eu me chamo Jean e sou graduado em Ciência da computação e pós-graduado em Ciência de dados.
                <p>Minha paixão pela área de dados começou a surgir quando me aprofundei no tema de Business Intelligence para a realização do meu TCC
                    de graduação mostrando como a adoção do BI poderia impactar as empresas que começavam a adotar as técnicas proporcionadas. 
                </p>
                <p>A partir de então meu envolvimento foi só crescendo jundo com a vontade de aprender cada vez mais. Logo, me formando em cientista de dados e confirmando de vez
                    que era a área que eu amaria e amo trabalhar.
                </p>
            </div>
        </div>
    </section>