<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sobre</h2>
                <hr class="light">
                <p class="text-faded">Minha paixão pela área de dados começou a surgir quando me aprofundei no tema de Business Intelligence para a realização do meu TCC
                    de graduação mostrando como a adoção do BI poderia impactar as empresas que começavam a adotar as técnicas proporcionadas.
                    A partir de então meu envolvimento foi só crescendo jundo com a vontade de aprender cada vez mais. Logo, me formando em cientista de dados e confirmando de vez
                    que era a área que eu amaria e amo trabalhar.</p>
            </div>
        </div>
    </div>
</section>
